<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-test | Login</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <!-- Add your CSS stylesheets or include Bootstrap if needed -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/blog/style.css" />
    <link rel="stylesheet" href="/css/animate.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <style>
      input::placeholder {
        color: white !important;
        opacity: 0.6 !important;
      }

      section {
        background: rgb(2, 0, 36);
        background: linear-gradient(
          200deg,
          rgba(3, 2, 23, 0.55) 15%,
          rgb(202, 163, 9) 100%,
          rgb(135, 43, 10) 25%
        );
      }
    </style>
  </head>

  <body>
    <section>
      <% if (flashMessages && flashMessages.length > 0) { %>
      <div class="flash-messages">
        <% flashMessages.forEach((message) => { %>
        <div
          class="alert alert-<%= message.type %> alert-dismissible fade show"
          role="alert"
        >
          <%= message.message %>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <% }); %>
      </div>
      <% } %>
    </section>
    <section class="vh-100">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card bg-dark" style="border-radius: 1rem">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="/images/edu/lincssalogo.jpg"
                    alt="login form"
                    class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form
                      id="loginForm"
                      class="animate__animated animate__fadeIn"
                      action="/edu/etest/proceed"
                      method="post"
                    >
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <i
                          class="fas fa-cubes fa-2x me-3"
                          style="color: #ff6219"
                        ></i>
                        <span class="h3 fw-bold mb-3"
                          ><span class="text-warning">LIN 303</span> |
                          <span class="text-danger">E-test</span></span
                        >
                      </div>

                      <h5
                        class="fw-normal mb-3 pb-3 text-light"
                        style="letter-spacing: 1px"
                      >
                        Log in
                      </h5>

                      <div class="form-outline mb-4">
                        <input
                          type="text"
                          id="username"
                          name="loginUsername"
                          class="form-control form-control-lg bg-dark text-white"
                          placeholder="Username (e.g LIN/2021/2021)"
                        />
                        <label class="form-label text-light" for="username"
                          >Username</label
                        >
                      </div>

                      <div class="form-outline mb-4 position-relative">
                        <input
                          type="password"
                          id="password"
                          name="loginPassword"
                          class="form-control form-control-lg bg-dark text-white pr-5"
                          placeholder="Password (Your First name e.g Yini)"
                        />
                        <label class="form-label text-light" for="password"
                          >Password</label
                        >
                        <span
                          id="toggleText"
                          class="password-toggle"
                          onclick="togglePasswordVisibility()"
                          >Show</span
                        >
                      </div>

                      <div class="pt-1 mb-4">
                        <button
                          class="btn btn-success btn-lg btn-block"
                          type="submit"
                        >
                          Login
                        </button>
                      </div>

                      <a href="https://yiniz.com" class="small text-muted"
                        >Powered by yiniz</a
                      >
                      <a href="#!" class="small text-muted">Privacy policy</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/etest/script.js"></script>
  </body>
</html>
