<!-- scoreboard.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoreboard</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Scoreboard</h2>
      <!-- Button for downloading Excel format -->
      <button
        id="downloadExcelBtn"
        class="btn btn-success btn-rounded float-right mb-3"
      >
        Download Excel Format
      </button>

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Matric Number</th>
            <th>Full Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach((student, index) => { %>
          <tr>
            <!-- Generating IDs starting from 1 -->
            <td><%= index + 1 %></td>
            <td><%= student.matric_number %></td>
            <td><%= student.full_name %></td>
            <td><%= student.scores %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <script>
      // Function to convert table to Excel format and initiate download
      function exportToExcel() {
        const table = document.querySelector("table");
        const rows = Array.from(table.querySelectorAll("tr"));
        const csv = rows
          .map((row) =>
            Array.from(row.querySelectorAll("th, td"))
              .map((cell) => cell.innerText)
              .join(",")
          )
          .join("\n");
        const blob = new Blob([csv], { type: "text/csv;charset=utf-8;" });
        const link = document.createElement("a");
        const url = URL.createObjectURL(blob);
        link.setAttribute("href", url);
        link.setAttribute("download", "scoreboard.csv");
        link.style.visibility = "hidden";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }

      // Attaching click event listener to the download button
      document
        .getElementById("downloadExcelBtn")
        .addEventListener("click", exportToExcel);
    </script>
  </body>
</html>
